<div class="welcome-description">
  <p>We help businesses understand their ability to detect, respond to, and recovery from IT disasters such as hacks and ransomware.</p>

  <p>Our <strong>security assessments</strong> help you understand the true state of your information security, compliance, and recovery capabilities, and how you can improve them.</p>

  <p>During our <strong>Policy &amp; Procedure Reviews</strong> we review what you have now, identify the gaps that matter, and describe what's missing, and why it is important.</p>

  <p>And we will help you <strong>Create Incident Runbooks</strong> that help your people react fast, find the problem, fix it, and get back to business.</p>

  <p>For more information please use our <a href="'about/">contact form</a> and we will be in touch directly.
</div>